<%= stylesheet_link_tag 'bootstrap.css' %>
<%= stylesheet_link_tag 'style.css' %>
<%= stylesheet_link_tag 'main.css' %>
<%= javascript_include_tag 'main.js' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RateMyDebate</title>
  <link rel="shortcut icon" href="img\favicon.gif">
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div id='logo-container'>
      <a href='/'><h1 id="logo">MasterDebater</h1></a>
    </div>
    <div id="button-container">
      <a href="/"><button type="button" class="btn btn-default">Random</button></a>
      <a href="/questions/new"><button type="button" class="btn btn-default">New <span class="glyphicon glyphicon-plus"></span></button></a>
    </div>
  </div>
  <div class="container" id="main-container">
    <div class="row">
      <div id="firstblock" class="panel panel-default">
        <div id="block" class="panel-body">
        <h1><%= @question.title %></h1>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default argument">
          <div class="panel-body">
            <div class="bg-primary" data-args="<%= @args_a.id %>">
              <p><%= link_to @args_a.text, {:controller => "arguments", :action => "upvote", :id => @args_a.id} %></p>
              <p class="votes">Votes : <%= @args_a_votes %></p>
            </div>
            <% if @comments_a != nil %>
              <ul class="list-group">
                <% @comments_a.each do |comment| %>
                  <li class="list-group-item"><%= comment.comment %></li>
                <% end %>
              </ul>
              <% end %>
              <%= form_for @comment do |f| %>
                <div class="form-group">
                <%= f.hidden_field :args_id, :value => @args_a.id, :class => "form-control" %>
                <%= f.label :comment, "Add comment", :class => "form-control" %>
                <%= f.text_area :comment, :class => "form-control" %>
                <%= f.submit 'Submit', :class => "form-control" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default argument">
            <div class="panel-body">
              <div class="bg-primary" data-args="<%= @args_b.id %>">
                <p><%= link_to @args_b.text, {:controller => "arguments", :action => "upvote", :id => @args_b.id} %></p>
                <p class="votes">Votes : <%= @args_b_votes %></p>
              </div>
              <% if @comments_b != nil %>
                <ul class="list-group">
                  <% @comments_b.each do |comment| %>
                    <li class="list-group-item"><%= comment.comment %></li>
                  <% end %>
                </ul>
              <% end %>
              <%= form_for @comment do |f| %>
                <div class="form-group">
                <%= f.hidden_field :args_id, :value => @args_b.id, :class => "form-control" %>
                <%= f.label :comment, "Add comment", :class => "form-control" %>
                <%= f.text_area :comment, :class => "form-control" %>
                <%= f.submit 'Submit', :class => "form-control" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
    </div> <!-- /container -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </body>
</html>