<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %>
<%= form_for @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :args_a %>
  <%= f.text_field :args_a %>
  <%= f.label :args_b %>
  <%= f.text_field :args_b %>
  <%= f.submit 'Submit' %>
<% end %>
